nav,
.nav {
    color: white;
    background: linear-gradient(aqua, black);
}

main,
.main {
    background: linear-gradient(aqua, rgb(211, 25, 25));
}

.banner {
    width: 100%;
    height: auto;
}

.btn1 {
    color: green;
    background-color: red;
}

.btn2 {
    color: crimson;
    background-color: green;
}

footer,
.footer {
    background: linear-gradient(to top, aqua, black);
    color: rgba(0, 0, 0, 0.37);
}

.flashy-text {
    color: rgb(104, 41, 252);
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    background-color: rgba(0, 0, 0, 0.322);
}

@keyframes blink-animation {
    to {
        color: rgb(25, 211, 50)
    }
}
@-webkit-keyframes blink-animation {
    to {
        color:rgb(88, 219, 12)
    }
}